* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  display: grid;
  grid-template-columns: 250px 1fr;
}

/* dashboard part of website */
.dashboard {
  height: 100vh;
  background-color: #fde047;
}

/* logo in the dashboard */
.dashboard_logo {
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #172554;
  font-weight: bolder;
  margin-bottom: 20px;
  cursor: pointer;
}

.dashboard_logo:hover {
  background-color: #f5cf11;
}
.dashboard_logo img {
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

/* navigation home to privacy */
.first_nav {
  height: 250px;
  margin-bottom: 50px;
}
.first_nav ul li,
.second_nav ul li {
  height: 30px;
  padding: 5px;
  color: #172554;
  font-size: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bolder;
  border-radius: 10px;
}
.first_nav ul li:hover,
.second_nav ul li:hover {
  background-color: #f5cf11;
}
.first_nav ul li img,
.second_nav ul li img {
  height: 20px;
  margin: 10px;
}

.second_nav {
  height: 120px;
}

/* Main part of website */
main {
  height: 100vh;
  background-color: #e2e8f0;
}

/* header inside main */
.header_main {
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
  height: 150px;
  padding-left: 20px;
}

/* search part top area in header */
.search_div {
  padding-top: 20px;
  height: 50px;
  display: flex;
  align-items: center;
}
.searchbar_div {
  flex-grow: 1;
  height: 40px;
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.search_btn {
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
  background-color: white;
}
.search_btn img {
  height: 15px;
}
.searchbar {
  flex: 1;
  padding: 0px 20px 0px 20px;
  background-color: #e2e8f0;
  height: 30px;
  width: 500px;
  border: none;
  border-radius: 40px;
  outline: none;
}

/* right side top area of header where profile notification bell and the name of user */
.profile_notif_div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 350px;
  height: 50px;
  padding-left: 40px;
}

.notification_bell_btn {
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  background-color: white;
}

.notification_bell_btn img {
  height: auto;
  width: 100%;
}

.profile_pic {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  cursor: pointer;
}

.profile_pic img,
.profile_picture img {
  height: auto;
  width: 100%;
}

.users_name {
  width: 150px;
  font-size: 13px;
  font-weight: bolder;
  cursor: pointer;
}

/* bottom part of header */
.users_control_div {
  height: 100px;
  display: flex;
  align-items: center;
}

.profile_picture {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  cursor: pointer;
}

/* user name and greetings part */
.users_name_div {
  margin-left: 10px;
  height: 70px;
  width: 500px;
  padding-top: 10px;
}
.users_name_div p {
  font-size: 15px;
}

.users_name_div .username {
  font-size: 20px;
  font-weight: bolder;
}

/* right side, bottom part of header 3 buttons have */
.buttons {
  height: 70px;
  display: flex;
  align-items: center;
  width: 350px;
  margin-left: 200px;
}

.buttons button {
  height: 30px;
  width: 90px;
  border-radius: 20px;
  margin-left: 20px;
  border: none;
  font-size: 11px;
  font-weight: bolder;
  background-color: #fde047;
  cursor: pointer;
}
.buttons button:hover {
  background-color: #f5cf11;
}

/* main content of the page */
.main_div {
  display: grid;
  grid-template-columns: 800px 300px;
  gap: 30px;
  padding: 20px;
  height: 568px;
}

/* project part */
.project p {
  font-size: 15px;
  font-weight: bolder;
  height: 30px;
}
.project_grid {
  display: grid;
  grid-template-columns: repeat(2, 370px);
  gap: 20px;
  height: 516px;
  overflow: scroll;
}

.project_box {
  height: 200px;
  border-radius: 10px;
  background-color: #d97706;
  padding-left: 10px;
  cursor: pointer;
}

.project_box div {
  height: 200px;
  background-color: white;
  border-radius: 0 10px 10px 0px;
  position: relative;
}

.project_box .control_btn {
  width: 100px;
  height: 30px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.control_btn button {
  height: 25px;
  width: 25px;
  background-color: white;
  border: none;
  margin-left: 5px;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  transition: ease-in-out;
}
.control_btn button:hover {
  background-color: #e2e8f0;
}

.project_box h2,
p {
  font-size: 16px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
}

.project_box p {
  font-size: 13px;
}

/* right side of the project area */
aside {
  overflow: scroll;
}

/* announcement area */
.announcements_div {
  height: 330px;
  padding: 10px;
}

.announcement_adds {
  margin-top: 7px;
  height: 260px;
  width: 250px;
  background-color: white;
  border-radius: 10px;
}

.announcement {
  border-bottom: 1px solid rgb(213, 213, 216);
  padding-bottom: 10px;
  padding-right: 5px;
  border-radius: 5px;
}

.announcement:hover {
  background-color: #7db6ff;
}

.announcement p {
  font-size: 8px;
}

.announcements_div .announcement_adds .title_of_announcement {
  font-size: 10px;
}

.announcement3 {
  border: none;
}

/* trending area */
.trending_div {
  height: 290px;
  padding: 10px;
}

.trending_div p {
  margin-bottom: 10px;
}

.trending {
  background-color: white;
  height: 235px;
  width: 250px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}
.inside_topic {
  display: grid;
  grid-template-columns: 35px 1fr;
  align-items: center;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 5px;
}

.inside_topic:hover {
  background-color: #7db6ff;
}

.topic img {
  height: 30px;
}

.topic .topic_username {
  font-size: 13px;
}
.topic p {
  font-size: 10px;
  margin: 0;
  padding: 0;
}
